# {{ ansible_managed }}

"{{ item.log_file_path }}" {

    {% if item.frequency and item.frequency in ["daily", "weekly", "monthly", "yearly"]  %}
    {{ item.frequency }}
    {% endif %}
   
    {% if item.size is defined %}
    size {{ item.size }}
    {% endif %}

    {% if item.rotate_count is defined -%}
    rotate {{ item.rotate_count | int }}
    {% endif -%}

    {% if item.start_count is defined -%}
    start {{ item.start_count | int }}
    {% endif -%}

    {% if item.email is defined -%}
    email {{ item.email }}
    {% endif -%}

    {% if item.missing_ok is defined -%}
    missingok
    {% else -%}
    nomissingok
    {% endif -%}

    {% if item.not_if_empty is defined -%}
    notifempty
    {% endif -%}
    
    {% if item.no_compress is defined -%}
    nocompress
    {% elif item.compress is defined -%}
    compress
    
    {% if item.compress.delay is defined -%}
    delaycompress
    {% endif -%}

    {% if item.compress.command is defined -%}
    compresscmd {{ item.compress.command }}
    {% endif -%}

    {% if item.compress.options is defined -%}
    compressoptions {{ item.compress.options }}
    {% endif -%}
    {% endif -%}

    {% if item.rotated_file_extension is defined -%}
    extension {{ item.rotated_file_extension }}
    {% endif -%}

    {% if item.copy_log is defined -%}
    copy
    {% endif -%}
    
    {% if item.copy_truncate is defined -%}
    copytruncate
    {% endif -%}

    {% if item.create is defined -%}
    create {{ item.create.mode }} {{ item.create.owner }} {{ item.create.group }}
    {% endif -%}

    {% if item.old_directory is defined -%}
    olddir {{ item.old_directory }}
    {% endif -%}

    {% if item.scripts is defined -%}
    {% if item.scripts.shared is defined -%}
    sharedscripts
    {% endif -%}

    {% if item.script.prerotate is defined -%}
    prerotate
                {{ item.script.prerotate }}
    endscript
    {% endif -%}

    {% if item.script.postrotate is defined -%}
    postrotate
                {{ item.script.postrotate }}
    endscript
    {% endif -%}
    {% endif -%}

    {% if item.first_action is defined -%}
    firstaction
                {{ item.first_action }}
    endscript
    {% endif -%}

    {% if item.last_action is defined -%}
    lastaction
                {{ item.end_action }}
    endscript
    {% endif -%}
}
