# {{ ansible_managed }}

"{{ item.log_file_path }}" {

    # Frequency of rotating the log file.
    {% if item.frequency and lower(item.frequency) in ["daily", "weekly", "monthly", "yearly"]  %}
     {{ lower(item.frequency) }}
    {% endif %}

    # Log file size
    {% if item.size %}
    size {{ item.size }}
    {% endif %}

    # Rotate count
    {% if item.rotate_count %}
    rotate {{ item.rotate_count | int }}
    {% endif %}

    # Start count
    {% if item.start_count %}
    start {{ item.start_count | int }}
    {% endif %}

    # Email id
    {% if item.email %}
    email {{ item.email }}
    {% endif %}

    # Missing OK
    {% if item.missing_ok %}
    missingok
    {% else %}
    nomissingok
    {% endif %}

    # Do not rotate file if it is empty
    {% if item.not_if_empty %}
    notifempty
    {% endif %}

    # Log file compress options
    {% if item.no_compress %}
    nocompress
    {% elif item.compress %}
    compress
    
    {% if item.compress.delay %}
    delaycompress
    {% endif %}

    {% if item.compress.command %}
    compresscmd {{ item.compress.command }}
    {% endif %}

    {% if item.compress.options %}
    compressoptions {{ item.compress.options }}
    {% endif %}
    {% endif %}

    # Rotated file extension
    {% if item.rotated_file_extension %}
    extension {{ item.rotated_file_extension }}
    {% endif %}

    # Copy log file
    {% if item.copy %}
    copy
    {% endif %}

    # Copy truncate
    {% if item.copy_truncate %}
    copytruncate
    {% endif %}

    # Create options
    {% if item.create %}
    create {{ item.create.mode }} {{ item.create.owner }} {{ item.create.group }}
    {% endif %}

    # Old directory
    {% if item.old_directory %}
    olddir {{ item.old_directory }}
    {% endif %}

    # Script configuration
    {% if item.scripts %}

    # Shared script
    {% if item.scripts.shared %}
    sharedscripts
    {% endif %}

    # Pre rotate
    {% if item.script.prerotate %}
    prerotate
                {{ item.script.prerotate }}
    endscript
    {% endif %}

    # Post rotate script
    {% if item.script.postrotate %}
    postrotate
                {{ item.script.postrotate }}
    endscript
    {% endif %}
    {% endif %}

    # First action
    {% if item.first_action %}
    firstaction
                {{ item.first_action }}
    endscript
    {% endif %}

    # Last action
    {% if item.last_action %}
    lastaction
                {{ item.end_action }}
    endscript
    {% endif %}
}
